@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
  border: 1px solid red;
}

.container-card {
  @apply bg-spotify-gray rounded-lg;
}

.wide-text {
  @apply text-mid-gray font-semibold hover:text-white hover:cursor-pointer;
}
